.gnarl-container {
    ls-gnarl {
        ls-gnarl-input {
            .input-txt-value {
                color: white;
                font: Arial;
                font-size: 30pt;

            }
            .input-txt-value:focus {
                border-bottom: 1px solid white;
                outline: none;
            }
            .output-txt-value {
                color: white;
                font: Arial;
                text-shadow: 2px 2px #000;
            }
        }
    }
}